* {
    padding: 0;
    margin: 0;
}

.center {
    box-sizing: border-box;
    width: 700px;
    margin: 0 auto;
    background-color: gray;
}

.artigo {
    vertical-align: top;
    margin: 10px 10px;
    display: inline-block;
    width: 320px;
    /*border-left-style: dotted;
    border-width: 3px;
    border-color: rgb(255, 0, 0);
    */
    border-left: 3px dotted rgb(255, 0, 0);
}
