* {
    padding: 0;
    margin: 0;
}

.center {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    background-color: grey;
    padding: 10px 20px 5px 20px;
    /* cima,direita,baixo,esquerda */
}
.artigo {
    border: 1px solid black;
    margin: 20px 30px;
}