* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.bg {
    display: none;
    /*
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    /* Backgrounds*//*
    background-image: url('../../imagens/sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat /* no-repeat, repeat-x, repeat-y ;
    background-position: 100% 100%; */
}

.box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(200, 200, 200);
    margin-top: 80px;
}

.item {
    width: 33.3%;
    margin-right: -4px;
    display: inline-block;
}

.item img {
    width: 30%;
}

.item p {
    background-color: black;
    color: white;
    display: inline-block;
    text-align: left;
}

.last {
    margin-right: 0;
}