* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

.lista,.lista2 {
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 20px;
}

.lista li, .lista2 li {
    font-size: 14px; 
    color: #4b4b4b;
    margin-top: 10px;
}

.lista .item3, .lista2 .item3 {
    font-weight: bold;
    color: red;
}

ol {
    list-style-position: inside;
    margin-left: 20px;
}

ol > li > ol > li {
    color: red;
}